{% extends "base.html" %}
{% block title %}Upload{% endblock %}

{% block customCSS %}
    <style>
        .form-upload {
            width: 100%;
            max-width: 330px;
            padding: 15px;
            margin: auto;
        }
    </style>
{% endblock %}
  

{% block content %}
    <h1 class="text-center"><strong>CSV Visualizer</strong></h1>
    {% if error %}
    <p style="color: red;">{{ error }}</p>
    {% endif %}
    <form class="form-upload" method="POST" enctype="multipart/form-data">
        <div class="form-group">
            <input type="file" class="form-control" id="file" name="file" accept='.csv' required>
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit">Upload</button>
    </form>
{% endblock %}