{% extends "base.html" %} {% block title %}Visualizer{% endblock %} {% block
customCSS %}
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/handsontable/styles/handsontable.min.css"
/>
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/handsontable/styles/ht-theme-main.min.css"
/>

<link
  href="{{url_for('static', filename='css/visualizer.css')}}"
  rel="stylesheet"
/>

<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
/>

{% endblock %} {% block customJS %}
<script
  type="text/javascript"
  src="https://cdn.jsdelivr.net/npm/handsontable/dist/handsontable.full.min.js"
></script>
{% endblock %} {% block content %} {% include "describe.html" %} {% include 'info.html' %} {% if error %}

<p style="color: red">{{ error }}</p>
{% else %} {% endif %}
<h1 class="text-center">CSV Visualizer</h1>

<div id="operations" class="container my-3">
  <div class="row justify-content-center">
    <div class="col-auto">
      <a href="#" class="btn btn-primary mx-2">
        <i class="fas fa-filter"></i> Remove Duplicates
      </a>
    </div>
    <div class="col-auto">
      <button
        type="button"
        class="btn btn-primary"
        data-bs-toggle="modal"
        data-bs-target="#infoModal"
      >
        <i class="fas fa-info-circle"></i> Info
      </button>
    </div>
    <div class="col-auto">
      <button
        id="describeButton"
        type="button"
        class="btn btn-primary"
        data-bs-toggle="modal"
        data-bs-target="#describeModal"
      >
        <i class="fas fa-chart-bar"></i> Describe
      </button>
    </div>
    <div class="col-auto">
      <a href="#" class="btn btn-warning mx-2">
        <i class="fas fa-download"></i> Download
      </a>
    </div>
    <div class="col-auto">
      <a href="{{url_for('index')}}" class="btn btn-danger mx-2">
        <i class="fas fa-times"></i> Close
      </a>
    </div>
  </div>
</div>

<div class="table-container d-flex justify-content-center align-items-center">
  <div id="hot"></div>
</div>

<script>
  var data = {{ data|tojson }};

  var container = document.getElementById('hot');
  var hot = new Handsontable(container, {
      data: data,
      rowHeaders: true,
      colHeaders: true,
      autoWrapRow: true,
      autoWrapCol: true,
      licenseKey: 'non-commercial-and-evaluation'
  });
</script>
<script src="{{url_for('static', filename='js/ajax.js')}}"></script>
{% endblock %}
